<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BL</title>
    <link rel="stylesheet" href="/html/public/css/main.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>
    <div id="header">
      <h1>Bartuken's Lab</h1>
    </div>
    <div id="content">
      |!{html}
    </div>
    <div id="footer"> </div>
  </body>
</html>
